  <app-card titulo="Primeiro Componente">
    <app-primeiro-componente></app-primeiro-componente>
  </app-card>
  <app-card titulo="Aprofundando o conhecimento em template">
    <app-segundo-componente></app-segundo-componente>
  </app-card>
  <app-card titulo="Pipes">
    <app-pipe-customizado></app-pipe-customizado>
  </app-card>
  <app-card titulo="Two Way Data Bilding">
    <app-two-way-data-binding></app-two-way-data-binding>
  </app-card>
  <app-card titulo="Renderizando listas">
    <app-renderizando-listas></app-renderizando-listas>
  </app-card>
  <app-card titulo="Componente personalizado (Input)">
    <app-componente-personalizado nome="Maria" sobrenome="Silva"></app-componente-personalizado>
    <app-componente-personalizado nome="Jose" sobrenome="Silva"></app-componente-personalizado>
  </app-card>
  <app-card titulo="Compartilhando dados entre componentes">
    <app-componente-pai></app-componente-pai>
  </app-card>
  <app-card titulo="Serviços">
    <app-exemplo-servico1></app-exemplo-servico1>
    <app-exemplo-servico2></app-exemplo-servico2>
    <app-exemplo-servico3></app-exemplo-servico3>
  </app-card>